.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.movieTitle {
  font-size: 1em;
  font-weight: 700;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 0.3em;
  max-height: 3em;
  width: 100%;
}

.movieImg {
  width: 97%;
  min-height: 25em;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-style: solid;
  border-width: 0.3em;
  border-color: white;
}

.movieImg:hover {
  box-shadow: 0px 0px 12px 2px whitesmoke;
}

.movieDisplayContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 2%;
}

.movieCard {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 55%;
}

button {
  align-items: center;
  border-radius: 3em;
  font-size: 15px;
  padding: 1.75%;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: black;
  border-style:dashed;
  border-color: red;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 2%;
}
